body{
	margin: 0 0;
}

#main{
	width: 750px;
	height: 550px;
	float: right;
	border-right: 1px solid #d3d3d3;
	background-image:url(../img/bg_canvas.png);
	position: relative;
	cursor: url(../img/hammer.ico),auto;
}
#game-ending{
	font-size: 100px;
	color: #ff1a00;
	padding-top: 200px;
	text-align: center;
	font-family: fantasy;
}

#count{
	width: 41px;
	height: 30px;
	position: absolute;
	display: none;
}
.mouse{
	width: 115px;
	height: 105px;
	position: absolute;
	display: block;
}
.normal{
	background-image:url(../img/mouse_normal.png);
}
.over{
	background-image:url(../img/mouse_over.png);
}
.hit{
	background-image:url(../img/mouse_hit.png);
}
.hide{
	display: none;
}