.navbar-brand {
	padding: 5px;
}
.navbar{
	background: #342f3c;
}
body {
	background: #999;
}
a{
	color: #fff;
}
.navbar-toggle{
	background: #453555;
}
.icon-bar{
	background: white;
}
#main{
	width: 100%;
	height: 100%;
	
}
#contain{
	width: 100%;
	/*height: 1000px;
	margin: 50px auto 0px;*/
	padding: 0px;
	height: 600px;
	margin: 50px auto 0px;
}

.nav-line {
	display: block;
	position: relative;
	padding: 5px 20px;
	text-decoration: none;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.nav-line:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px;
}
.nav-line:before {
	left: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color:inherit;
	color: #6666ee;
}
.nav>li>.active,.nav>li>.active:focus,.nav>li>.active:hover{
	background-color:#223;
}

.nav-line:hover:before,.nav-line:focus:before  {
	max-width: 100px;
	width: 100%;
}
.nav-line:before {
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}
@media (min-width: 768px) {
	.container {
		width: 770px;
	}
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}