body{
	background: #e6e6e6;
}
.wrapper{
	width: 100%;
	margin: 0 auto;
	height: 100%;
	background: #bbd;
	border-radius: 0px;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);
}
.side{
	display: none;
	background: #bbd;
	float: right;
	border: 5px groove slateblue;
	border-left:10px groove slateblue;
	height: 100%;
	padding-bottom: 50px;
	width: 200px;
	padding: 7px;
}
.content{
	float: left;
	width: 100%;
	padding-bottom: 50px;

}
.side{
	border-radius: 0px 10px 10px 0px;
}
.content>hr{
	height:10px;
	width: 50%;
	border-top:5px groove skyblue;
}
.title {
	padding: 5px;
	font-size: 50px;
	background: #505080;
	color: #eaeafa;
	text-shadow: 0px 1px 0px #889, 0px 2px 0px #778, 0px 1px 0px #667, 0px 4px 0px #556, 0px 5px 0px #445, 0px 6px 0px #334, 0px 7px 0px #223, 0px 8px 7px #001135;
}

.footer{
	padding: 10px;
	text-align: center;
}
.text-right{
	text-align: right;
}
.clear{
	clear: both;
}
@media (min-width: 900px) {
	.side{
		display: block;
	}
	.wrapper{
		border-radius: 10px;
		width: 840px;
	}
	.content{
		float: left;
		width: 640px;
	}
	.title{
		border-top-left-radius: 10px;
	}
}